.topicos {
    display: flex;
    margin-bottom: 6rem;
    align-items: center;
}

.topicos__container {
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

.topicos__container div {
    width: 25%;
}

.container__strong {
    font-size: 3.75rem;
    color: var(--vermelho-escuro);
    font-weight: 600;
}

.container__titulo {
    font-size: 1.125rem;
    color: var(--preto);
    font-weight: 500;
    margin: 5% 0;
}

.container__descricao {
    font-size: 1rem;
    color: var(--cinza);
    font-weight: 400;
    line-height: 1.5rem;
}

@media screen and (max-width: 1024px) {
    .topicos {
        flex-direction: column;
        gap: 2rem;
    }

    .topicos__container {
        width: 75vw;
    }

    .topicos__container div {
        width: 40%;
    }
}